* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url('images/overview_background.jpg');
    height: 528px;
    padding: 10px;  
}

.section-title {
    color: #2ddf5c;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    padding: 8px;
    background-color: #2ddf5c;
    width: 100%;
    padding: 8px 16px;
}

.main-header nav li {
    display: inline-block;
}

.main-header > div, .main-header > nav {
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    text-align: right;
    width: calc(100% - 74px);
}

.main-nav__items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav__item {
    margin: 0 11px;
}

.main-nav__item > a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px;
    
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    background-color: #ff1b68;
    color: white;
    border-radius: 9px;
    padding: 8px 16px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background-color: white;
    border: none;
}

.plan {
    background-color: chartreuse;
    text-align: center;
    padding: 16px;
    margin: 8px 0;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan li {
    list-style-type: none;
}

.plans-container {
    text-align: center;
}